img{
  width: 200px;
  height: 265px;
  border-radius: 10px;
}

.name {
  color: darkslateblue;
  font-family: "Arial Black", sans-serif;
  /*Ubuntu,Roboto,Arial,Helvetica,sans-serif;*/
  text-align: center;
  opacity: 1;
  transition: .2s;
}

.movie {
  position: relative;
}

.description {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 180px;
  height: 245px;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
  transition: 0.2s;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

.description p {
  color: white;
  font-family: "Arial Black", sans-serif;
  /*Ubuntu,Roboto,Arial,Helvetica,sans-serif;*/
  text-align: center;
}

.description button {
  background: transparent;
  border: 2px solid #9353ff;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  align-self: end;
  cursor: pointer;
  transition: .2s;
  font-family: "Arial Black", sans-serif;
}

.description button:hover {
  background: #9353ff;
  font-family: "Arial Black", sans-serif;
}

.invisible {
  opacity: 0;
}
