img{
  width: 189px;
  height: 255px;
  border-radius: 10px;
}

img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
  padding: 25px;
}

p{
  color: darkslateblue;
  font-family: "Arial Black";
  /*Ubuntu,Roboto,Arial,Helvetica,sans-serif;*/
  text-align: center;
}
