<div class="movie-page-container">
  <div class="movie" *ngIf="movie">

    <div class="image">
      <img [src]="movie.image">
    </div>

    <div class="right">
      <div class="name">
        <h2>{{movie.name}}</h2>
      </div>
      <div class="type">
        <p >Жанр: {{movie.type}}</p>
      </div>
      <div class="description">
        <p>Описание: </p>
        <p>{{movie.description}}</p>
      </div>
<!--      <div class="price">-->
<!--        <p>Цена: </p>-->
<!--      </div>-->
      <div class="order">
        <button [routerLink]="['/order', movie.id]">Выбрать сеанс</button>
      </div>
    </div>


  </div>
</div>
