.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 130px 200px 0 200px;

}

.seance-container {
  /*width: 400px;*/
  /*margin: auto;*/
  /*padding: 50px;*/
  /*margin: 0 115px 0 115px;*/
  padding: 0 60px 0 60px;
}

.seance-container p{
  font-family: "Arial Black", sans-serif;
  text-align: center;
}

.seance {
  background-color: #f9f9f9;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-column-gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "Arial Black", sans-serif;
}

.seance p {
  margin: 0;
  padding: 0;
}

.control {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.checked {
  border: 2px solid darkslateblue;
}

.unchecked {
  border: 2px solid #5F7367;
}

.inner-control {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: .2s;
}

.visible {
  opacity: 1;
  background-color: darkslateblue;
}

.invisible {
  opacity: 0;
  background-color: grey;
}

.row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.seats-container{
  margin: auto;
  /*width: 150px;*/
  /*height: 250px;*/
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 15px;
  align-items: center;
  justify-content: center;
}

/*.seat{*/
/*  background-color: red;*/
/*}*/

.available{
  width: 35px;
  height: 35px;
  background-color: #bbbbbf;
  border-radius: 5px 10px 5px 10px;
  cursor: pointer;
  border: 2px solid #4c4c4c;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.reserved{
  width: 30px;
  height: 30px;
  background-color: #5F7367;
  cursor: not-allowed;
  border-radius: 5px 10px 5px 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.processing{
  width: 30px;
  height: 30px;
  background-color: darkslateblue;
  border-radius: 5px 10px 5px 10px;
  cursor: pointer;
  border: 2px solid #4c4c4c;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btn-buy button{
  padding: 5px 15px;
  margin-top: 10px;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
  background-color: #52D1DC;
  color: white;
  outline: none;
  font-family: "Arial Black", sans-serif;
  border: none;
  cursor: pointer;
  transition: .2s;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

}

.btn-buy button:hover {
  background: darkslateblue;
  color: rgba(0, 0, 0, 0.77);
  transition: 1s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.seat-history{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  align-self: center;
  justify-self: center;
  font-family: "Arial Black", sans-serif;
  font-size: 13px;
  margin: 20px 60px 0 60px;
}

.available p, .reserved p, .processing p {
  transform: translateX(30px);
}

.select{
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

.history-row{
  align-self: center;
  justify-self: center;

}

.available, .processing, .reserved{
  align-self: center;
  justify-self: center;
  margin: auto;
}

app-popup{
  font-family:  "Arial Black", sans-serif;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  font-family: "Arial Black", sans-serif;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid darkslateblue;
  border-radius: 5px;
}

.btn-submit:hover {
  background: darkslateblue;
  font-family: "Arial Black", sans-serif;
}

.confirm-btn{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}
