<div class="movie-container">
  <div class="movies-list" *ngFor="let movie of movies">
    <app-movie [data]="movie"></app-movie>
  </div>
</div>

<!--<div el-carousel="7">-->
<!--  <div ng-repeat="card in cardList" el-card="card" card-action="someAction(someParam)" last-card="$last">-->
<!--    <span>{{card.name}}</span>-->
<!--    <img class="image image-1" ng-src={{card.img}} alt={{card.alt}}/>-->
<!--  </div>-->
<!--  <div el-card card-action="otherAction(otherParam)">-->
<!--    <img class="image image-2" src="/app/ru/main/img/js.png" alt="javascript"/>-->
<!--  </div>-->
<!--</div>-->
