body{
  min-height: 100vh !important;
  /*background: rgba(23, 20, 21, 0.91) !important;*/
}

.movie-container{
  padding-top: 110px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-column-gap: 30px;
  width: max-content;
  padding-bottom: 70px;
}

@media screen and (max-width: 1350px) {
  .movie-container {
    grid-template-columns: repeat(5, 200px);
  }
}

@media screen and (max-width: 1120px) {
  .movie-container {
    grid-template-columns: repeat(4, 200px);
  }
}

@media screen and (max-width: 890px) {
  .movie-container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (max-width: 660px) {
  .movie-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 430px) {
  .movie-container {
    grid-template-columns: 200px;
  }
}

.plus{
  background-color: #d4d4d8;
  display: grid;
  align-items: center;
  justify-content: center;
  /*opacity: 0.5;*/
  font-size: 50px;
  border-radius: 10px;
  color: white;
  outline: none;
  font-family: "Arial Black", sans-serif;
  border: none;
  height: 266px;
  cursor: pointer;
}

.plus:hover{
  color: darkslateblue;
  font-family: "Arial Black", sans-serif;
}

.minus{
  background-color: #d4d4d8;
  display: grid;
  align-items: center;
  justify-content: center;
  /*opacity: 0.5;*/
  font-size: 50px;
  border-radius: 10px;
  color: white;
  outline: none;
  font-family: "Arial Black", sans-serif;
  border: none;
  height: 266px;
  cursor: pointer;
}

.minus:hover{
  color: darkslateblue;
  font-family: "Arial Black", sans-serif;
}

app-popup{
  font-family:  "Arial Black", sans-serif;
}

input{
  border-radius: 3px;
  outline: none;
  border: 0;
  width: 100%;
}

input[type="submit"]{
  display: block;
  margin-top: 20px;
  font-family: "Arial Black", sans-serif;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid darkslateblue;
  border-radius: 5px;
}

input[type="text"]{
  font-family: "Arial Black", sans-serif;
}

.btn-add:hover {
  background: darkslateblue;
  font-family: "Arial Black", sans-serif;
}

.btn-minus:hover {
  background: darkslateblue;
  font-family: "Arial Black", sans-serif;
}

.alert-danger{
  background: darkslateblue;
  font-family: "Arial Black", sans-serif;
}


