<div class="movie-container">
  <div class="movies-list" *ngFor="let movie of movies">
    <app-movie [data]="movie"></app-movie>
  </div>
  <div class="addingMovie" *ngIf="user && user.role === 'admin'" (click)="openAdding()">
    <div class="plus">+</div>
  </div>
  <div class="deleteMovie" *ngIf="user && user.role === 'admin'" (click)="openDel()" >
    <div class="minus">-</div>
  </div>


  <app-popup [onClose]="closeAdding" [isVisible]="showAdding">
    <h1>Добавление фильма</h1>
    <p>Введите название: </p>
    <input [(ngModel)]="name" type="text" placeholder="Название">
    <p>Введите жанр: </p>
    <input [(ngModel)]="type" type="text" placeholder="Жанр">
    <p>Введите описание: </p>
    <input [(ngModel)]="description" type="text" placeholder="Описание">

    <div class="form-group">
      <p>Введите цену: </p>
      <input class="form-control" type="text" name="price" [(ngModel)]="price" #text="ngModel"
             placeholder="Цена" required pattern="[0-10a-z_]"/>
      <div [hidden]="text.valid || text.untouched" class="alert-danger">
        <p>Некорректная цена</p>
      </div>
    </div>

    <p>Вставьте изображение: </p>
    <input [(ngModel)]="image" type="text" placeholder="Изображение">

    <input type="submit" class="btn-add" (click)="addMovie()" value="Добавить">
  </app-popup>

  <app-popup [onClose]="closeSuccess" [isVisible]="success">
    <h1>Успех</h1>
  </app-popup>

  <app-popup [onClose]="closeFail" [isVisible]="fail">
    <h1>Ошибка</h1>
  </app-popup>

  <app-popup [onClose]="closeDel" [isVisible]="showDel">
    <h1>Удаление фильма</h1>
    <p>Введите порядковый номер: </p>
    <input [(ngModel)]="id" type="text" placeholder="Номер">

    <input type="submit" class="btn-minus" (click)="deleteMovie()" value="Удалить">
  </app-popup>

</div>
