*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh !important;
  //background: rgba(23, 20, 21, 0.91) !important;
}

.movie-container{
  padding-top: 110px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-column-gap: 30px;
  width: max-content;
}

@media screen and (max-width: 1350px) {
  .movie-container {
    grid-template-columns: repeat(5, 200px);
  }
}

@media screen and (max-width: 1120px) {
  .movie-container {
    grid-template-columns: repeat(4, 200px);
  }
}

@media screen and (max-width: 890px) {
  .movie-container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (max-width: 660px) {
  .movie-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 430px) {
  .movie-container {
    grid-template-columns: 200px;
  }
}


