.seats-container{
  padding-top: 100px;
  font-family: "Arial Black";
}

.seats{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  display: flex;
  justify-content: center;
}

.seat{
  font-size: 20px;
}
