*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh !important;
  //background: rgba(23, 20, 21, 0.91) !important;
}

.movie-container{
  padding-top: 110px;
  margin: auto;
  display: flex;
  justify-content: center;
  //display: grid;
  //grid-template-columns: repeat(3, 200px);
  grid-column-gap: 30px;
}




