.toolbar{
  position: fixed;
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 100vw;
  height: 80px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 10px #c2c2c2;
}

.buttons{
  height: 40px;
  grid-column: 2;
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-right: 20px;
}

.btn{
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #52D1DC;
  color: white;
  outline: none;
  font-family: "Arial Black";
  border: none;
}

.login:hover {
  background-color: rgba(156, 220, 220, 0.83);
  color: rgba(0, 0, 0, 0.77);
  transition: 1s;
}

.sign-in{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #52D1DC;
  color: white;
  outline: none;
  border: none;
  font-family: "Arial Black";
}

.sign-in:hover {
  background-color: rgba(156, 220, 220, 0.83);
  color: rgba(0, 0, 0, 0.77);
  transition: 1s;
}


app-popup{
  font-family:  "Arial Black", sans-serif;
}

input{
  border-radius: 3px;
  outline: none;
  border: 0;
  width: 100%;
}

input[type="submit"] {
  /*background-color: #52D1DC;*/
  display: block;
  margin-top: 20px;
  font-family: "Arial Black", sans-serif;
  padding: 5px 15px;
  /*position: relative;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  background: transparent;
  border: 2px solid #9353ff;
}

.btn-submit:hover {
  background: #9353ff;
  font-family: "Arial Black", sans-serif;
}






